@font-face {
    font-family: 'Hero';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/HeroLight-Regular.woff');
}

@font-face {
    font-family: 'Hero Bold';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/HeroLight-Bold.woff');
}

@font-face {
    font-family: 'Hero Light';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/HeroLight-Light.woff');
}

* {
    margin: 0;
    padding: 0;
    font-family: Hero;
    border: 1px lightgray;
}
html, body {
    border: none;
    background-color: lightgray;
}
body {
    height: 100vh;
}

.main-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
}
.main-cont .row .col-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    padding-bottom: 30px;
}
.main-cont .row .col-4 .input-city {
    width: 100%;
    display: flex;
    justify-content: center;
}
.main-cont .row .col-4 .input-city input {
    width: 70%;
    border: none;
    background-color: rgb(237, 237, 239);
    padding: 5px;
    border-radius: 30px;
}
.main-cont .row .col-4 .input-city .search {
    position: absolute;
    margin-top: 4px;
    margin-left: 20%;
}

.main-cont .row .col-4 .weather-picture .weather-icon {
    width: 250px;
}
.main-cont .row .col-4 .weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.main-cont .row .col-4 .weather-info .temperature {
    font-size: 90px;
    margin-bottom: 0;
}
.main-cont .row .col-4 .weather-info .weather-state {
    margin-top: 0px;
    font-size: 20px;
    border-bottom: 3px solid rgb(237, 237, 239);
    padding-bottom: 30px;
    text-align: center;
    width: 70%;
}
.main-cont .row .col-4 .date-time-info {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-cont .row .col-4 .date-time-info p {
    margin: 0;
}
.main-cont .row .col-4 .city {
    font-size: 32px;
}