@media(max-width:1400px) {
    .main-cont .right-col .container .row .sun .sun-rise-container, .sun-set-container {
        margin-right: auto;
    }
    .main-cont .right-col .container .row .moon .moon-rise-container, .moon-set-container {
        margin-right: auto;
    }
}
@media(max-width:1050px) {
    .main-cont {
        top: 0%;
        transform: translate(-50%, -0%);
    }
    .main-cont  {
        display: flex;
        flex-direction: column;
    }
    .main-cont .col-4 {
        width: auto;
    }
    .main-cont .col-4 .weather-info-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .main-cont {
        margin-left: 0px;
        margin-right: 0px;
    }
    .main-cont>* {
        width: auto;
    }
    .carousel-main>* {
        width: 100%;
    }
    .main-cont .col-4 .input-city input {
        width: 510px;
    }
    .main-cont .col-4 .input-city .search {
        margin-left: 62%;
        margin-top: 3px;
        width: 32px;
    }
    .main-cont .right-col .container .row {
        flex-wrap: wrap;
    }

    .main-cont .right-col .container .row .sun, .main-cont .right-col .container .row .sun .moon {
        min-width: 180px;
    }
    .main-cont .right-col .container .row .wind .wind-speed {
        font-size: 26px;
    }
    .main-cont .right-col .container .row .wind {
        flex-grow: 2;
    }
    .main-cont .col-4 .date-time-info {
        margin-right: 20px;
        margin-left: 20px;
    }
    .main-cont .col-4 .city {
        margin-right: 20px;
        margin-left: 20px;
    }
    .main-cont .col-4 .input-city input {
        font-size: 24px;
    }
}
@media(max-width: 760px) {
    .daily-weather {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 400px;
    }
    .main-cont .right-col .container .table-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        height: fit-content;
    }
    .main-cont .right-col .container .rs-carousel-toolbar {
        top: 230px;
    }
    .main-cont .col-4 .input-city .search {
        margin-left: 80%;
    }
}
@media(max-width:580px) {
    .main-cont .col-4 .input-city input {
        width: 100%;
        min-width: 50px;
        font-size: 16px;
        padding: 12px;
    }
    .main-cont .col-4 .input-city .search {
        margin-left: 45%;
        margin-top: 6px;
        height: 30px;
    }
    .daily-weather {
        max-width: 300px;
    }
    .main-cont .right-col .container .rs-carousel-toolbar {
        top: 340px;
    }
    .main-cont .right-col .container .col {
        margin: 10px;
        width: 150px;
        font-size: 14px;
    }
    .main-cont .right-col .container .col .big-text_ {
        font-size: 22px;
    }
    .main-cont .right-col .container .col .medium-text_ {
        font-size: 14px;
    }
}
@media(max-width:410px) {
    .main-cont .right-col .navbar .navbar-nav  {
        display: grid;
        grid-auto-flow: column;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-padding: 1rem;
    }
}


@media(max-width:460px) {
    .main-cont .right-col .container .daily-weather .col {
        padding: 0px 16px;
    }
}
@media(max-width:370px) {
    .main-cont .right-col .container .daily-weather .col {
        padding: 0px 5px;
    }
}
@media(max-width:305px) {
    .main-cont .right-col .container .daily-weather .col {
        padding: 0px;
    }
}

@media(min-width:993px) {
    @media(max-height: 830px) {
        .main-cont {
            top: 0%;    
            transform: translate(-50%, -0%);
        }
    }
}