@media(max-width:1400px) {
    .main-cont .row .right-col .container .row .sun .sun-rise-container, .sun-set-container {
        margin-right: auto;
    }
    .main-cont .row .right-col .container .row .moon .moon-rise-container, .moon-set-container {
        margin-right: auto;
    }
}
@media(max-width:992px) {
    .main-cont {
        top: 0%;
        transform: translate(-50%, -0%);
    }
    .main-cont .row {
        display: flex;
    }
    .main-cont .row .col-4 {
        width: auto;
    }
    .main-cont .row .col-4 .weather-info-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .row>* {
        width: auto;
    }
    .carousel-main>* {
        width: 100%;
    }
    .main-cont .row .col-4 .input-city .search {
        margin-left: 62%;
        margin-top: 6px;
        width: 32px;
    }
    .main-cont .row .col-4 .input-city .autocomplete {
        margin-top: 50px;
        font-size: 24px;
        width: 68%;
    }
    .carousel-control-prev-icon {
        right: 30px;
    }
    .carousel-control-next-icon {
        left: 30px;
    }
    .main-cont .row .right-col .container .row {
        flex-wrap: wrap;
        margin: auto;
    }
    .main-cont .row .right-col .container .row .sun, .main-cont .row .right-col .container .row .sun .moon {
        min-width: 180px;
    }
    .main-cont .row .right-col .container .row .wind .wind-speed {
        font-size: 26px;
    }
    .main-cont .row .right-col .container .row .wind {
        flex-grow: 2;
    }
    .main-cont .row .col-4 .date-time-info {
        margin-right: 40px;
    }
    .main-cont .row .col-4 .input-city input {
        font-size: 24px;
    }
}

@media(max-width:600px) {
    .main-cont .row .col-4 .input-city .search {
        margin-left: 56%;
    }
    .main-cont .row .col-4 .input-city .autocomplete {
        margin-top: 50px;
        font-size: 20px;
        width: 68%;
    }
}
@media(max-width:410px) {
    .main-cont .row .right-col .navbar .navbar-nav  {
        display: grid;
        grid-auto-flow: column;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-padding: 1rem;
    }
}
@media(max-width:340px){
    .main-cont .row .col-4 .date-time-info {
        margin-right: 0px;
    }
}




@media(max-width:460px) {
    .main-cont .row .right-col .container .daily-weather .col {
        padding: 0px 16px;
    }
}
@media(max-width:370px) {
    .main-cont .row .right-col .container .daily-weather .col {
        padding: 0px 5px;
    }
}
@media(max-width:305px) {
    .main-cont .row .right-col .container .daily-weather .col {
        padding: 0px;
    }
}

